%div{"pf-toolbar" => "", "config" => "dash.graphToolbarConfig"}
  %actions
    .form-group.pull-left
      %button.btn.btn-default{"type" => "button", "ng-click" => "dash.viewMetrics()"}
        = _("Return to list view")

%form.time-range-form#form_div{"name" => "angularForm"}
  .form-group.pull-left
    .input-group.bootstrap-touchspin.timeline-stepper.pull-left
      %span.input-group-btn
        %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "dash.countDecrement()",
                                                         "type"     => "button"} -
      %input.timeline-range-input.bootstrap-touchspin.form-control{"ng-model" => "dash.timeFilter.range_count",
                                                                   "readonly" => "readonly",
                                                                   "type"     => "text"}
      %span.input-group-btn
        %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "dash.countIncrement()",
                                                       "type"     => "button"} +
  .form-group.pull-left
    %select{"pf-select"  => "",
            "id"         => "timeRange",
            "ng-model"   => "dash.timeFilter.time_range",
            "ng-options" => "range.value as range.title for range in dash.timeRanges",
            "class"      => "timeline-date-input"}
  .form-group.pull-left
    %input{"pf-date-timepicker" => "",
           "options"            => "dash.dateOptions",
           "date"               => "dash.timeFilter.date",
           "class"              => "timeline-date-input"}
  .form-group.pull-left
    %button.btn.btn-primary.ad-hoc-refresh{"type" => "button", "ng-click" => "dash.refreshGraph()"}
      = _("Refresh")
