.line-chart
  .spinner.spinner-lg.loading{"ng-if" => "dash.loadingData"}
  #adHocMetricsChart{"pf-line-chart" => "",
                     "ng-if"         => "dash.chartDataInit",
                     "chart-data"    => "dash.chartData",
                     "config"        => "dash.chartConfig",
                     "show-x-axis"   => true,
                     "show-y-axis"   => true}
