.miq-metrics {
  overflow-x:hidden;

  .blank-slate-pf {
    padding: 60px 60px;
  }
  .toolbar-pf .form-group {
    padding-left: 0px;
    margin-left: 10px;
  }
  .toolbar-pf .form-group .btn-group {
    margin-left: 0;
  }
  .toolbar-pf {
    margin-left: -18px;
    margin-right: -20px;
  }
  .list-view-container {
    overflow-y: auto;
    position: static;
    min-height: calc(100vh - 389px);
  }
  .time-stamp {
    padding-left: 5px;
  }
  .last-value {
    padding-left: 5px;
    width: 50px;
    text-align: right;
    float: left;
  }
  .blank-slate-pf {
    margin-bottom: 0;
    min-height: calc(100vh - 389px);
  }
  .metrics-graph {
    height: calc(100vh - 275px);

    .line-chart {
      padding: 20px 20px 10px 0;
    }
  }
  .metric-row {
    padding-left: 5px;
    width: 350px;
    text-align: right;
  }
  .metric-no-padding {
    padding-right: 5px;
  }
  .time-range-form {
    margin: 10px;
    .btn-group {
      padding-left: 10px;
    }
  }
  .timeline-date-input {
    width: 250px;
  }
  .ad-hoc-tenant {
    vertical-align: top;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .ad-hoc-refresh {
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .ad-hoc-tenant-button{
    vertical-align: top;
  }
  #ad-hoc-tenant {
    display: inline;
    width: 200px;
  }
  h3 {
    margin-top: 5px;
  }
}
